body {
    padding: 10px;

    display: grid;

    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
        "header header"
        "navbar home"
        "navbar blog"
        "navbar content"
        "navbar about";

    gap: 30px;
}

.header{
    grid-area: header;;
}

.navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#home {
    grid-area: home;
}

#blog {
    grid-area: blog;
}

#content {
    grid-area: content;
}

.section {
    border: 1px solid gray;
    border-radius: 10px;

    padding: 10px;
    height: 100%;
    background-color: aliceblue;
}

.blog-dashboard {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.post {
    padding: 10px;
    background-color: beige;
    border-radius: 10px;
    width: 250px;
    height: 180px;
}